<div class="container page-contents">
  <h1>Contact</h1>
  <p>Fell in love with any of the instruments?</p>
  <p>Get in touch!</p>

  <%= flash[:notice] %>

  <%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
  <div class="row">
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control", placeholder: "Enter Name", required: "true" %>
    </div>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control", type: "email", placeholder: "Enter Email", required: "true" %>
    </div>
    <div class="form-group">
      <%= form.label :message %>
      <%= form.text_area :message, class: "form-control", placeholder: "Enter Message", required: "true", rows: 5 %>
    </div>
  </div>
  <%= form.submit "Send", class: "form_label" %>
  <% end %>

</div>
