<div class="page-contents">
  <h1>Welcome to Bruno's Magical Music Shop</h1>
  <h2>The most amazing music instruments in Berlin</h2>
  <p>The date and time now is <%= Time.now %>. Don't forget it's always 16:20 somewhere.</p>

  <div class="container-fluid">
    <div class="product col-xs-12 col-md-6">
      <%= image_tag("guitar_01.jpg", class: "img-responsive product_img", alt: "Fender Sonoran Blue Guitar") %>
    </div>
    <div class="product col-xs-12 col-md-6">
      <%= image_tag("e_guitar_01.jpg", class: "img-responsive product_img", alt: "Squier Jaguar Cherry Red Electric Guitar") %>
    </div>
    <div class="product col-xs-12 col-md-6">
      <%= image_tag("bass_01.jpg", class: "img-responsive product_img", alt: "Epiphone Viola Bass") %>
    </div>
    <div class="product col-xs-12 col-md-6">
      <%= image_tag("synth_01.jpg", class: "img-responsive product_img", alt: "Korg Kaosscilator KO-1 Synthetizer") %>
    </div>
    <div class="product col-xs-12 col-md-6">
      <%= image_tag("trombone_01.jpg", class: "img-responsive product_img", alt: "Trombone Yamaha YSL Vintage Model") %>
    </div>
    <div class="product col-xs-12 col-md-6">
      <%= image_tag("trombone_02.jpg", class: "img-responsive product_img", alt: "PBone Plastic Trombone") %>
    </div>
  </div>
</div>
