<p id="notice"><%= notice %></p>

<div class="page-contents">

  <h1>products</h1>

  <div class="container-fluid">
    <div class="row">
      <% @products.each do |product| %>
      <div class="product col-xs-12 col-md-6">
        <h3><%=link_to product.name, product %></h3>
        <%= image_tag(product.image_url, class: "img-responsive product_img") if product.image_url %>
        <p><%= product.description %></p>
        <p>
          <strong>Brand: </strong><%= product.brand %>
        </p>
        <p>
          <strong>Price: </strong>€<%= product.price %>
        </p>
        <%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
    </div>
  </div>
<%= link_to 'New product', new_product_path %>
</div>
<!--
<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.brand %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>-->
