<p id="notice"><%= notice %></p>

<div class="container page-contents row">
  <div class="col-sm-6">
    <h2><%= @product.name %></h2>

    <%= image_tag(@product.image_url, class: "img-responsive") if @product.image_url%>

    <% if signed_in? && current_user.admin? %>
      <p><%= link_to 'Edit', edit_product_path(@product) %> |
    <% end %>

    <%= link_to 'Back', products_path %></p>
  </div>
  <div class="col-sm-6">
    <h4>
      Product description
    </h4>
    <p>
      <strong>Brand:</strong>
      <%= @product.brand %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

    <p>
      <strong>Price:</strong>
      €<%= @product.price %>
    </p>
    <p>
      <strong>Average Rating:</strong> <div class="rated" data-score="<%= @product.average_rating %>"></div>
    </p>
    <!-- link to buy button -->
    <%= form_with(url: '/payments/create') do |form| %>
      <%= render partial: "shared/stripe_checkout_button" %>
      <%= hidden_field_tag(:product_id, @product.id) %>
    <% end %>
  </div>
  <div class="col-sm-12">
    <h4>
      What other users have to say
    </h4>
    <!-- <%= @product.comments.rating_desc.first %> -->
    <!-- <%= @product.highest_rating_comment %> -->

    <%= render 'comments' %>

    <%= render 'new_comment' %>

  </div>
</div>
