<p id="notice"><%= notice %></p>

<div class="page-contents">

  <p>
    <strong>Name:</strong>
    <%= @instrument.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @instrument.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= @instrument.image_url %>
  </p>

  <%= link_to 'Edit', edit_instrument_path(@instrument) %> |
  <%= link_to 'Back', instruments_path %>
</div>
